<div class='mainResultComment' id="mainResultComment_<%= comment.id %>">
<%= form_for Uploader.new, html: {multipart: true, remote: true, class: "formFile formUploader_#{comment.id}"} do |f| %>
<div class="hideIn"></div>
    <p class="commenResult" id="comm_<%= comment.id %>">
      <%= comment.body %>
      <span>
  <%= link_to '<i class="fa fa-trash "></i>'.html_safe, comment, class: 'removeComment', remote: true, method: :delete, onclick: "removeComment(#{comment.id})" %>
</span>
      <span id="<%= comment.id %>">
   <%= f.hidden_field :comment_id, :value => comment.id %>
        <%= f.label :commentfile, '<i class="fa fa-paperclip" aria-hidden="true"></i>'.html_safe, class: 'labelFileUpload' %>
        <%= f.file_field :commentfile, class: 'inputUpload', id_input: comment.id %>
</span>
    </p>

<% end %>

<ul class="footerComment" id="linkFile_<%= comment.id %>">
  <% comment.uploaders.each do |uploader| %>
      <li><%= render 'uploaders/links', :uploader => uploader %></li>
  <% end %>
</ul>
</div>