<%= form_for(@task, remote: true, :html => {class: 'formTodo form-horizontal', 'data-parsley-validate' => true}) do |f| %>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :title, 'Title:', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: 'form-control', 'data-parsley-required' => true, 'data-parsley-error-message' => 'This field can not be empty' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :to_perform, 'Deadline:', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class='input-group date' id='datetimepicker1'>
            <%= f.text_field :to_perform, class: 'form-control datepickerTodo'%>
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :comment, 'Comment:', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :comment, class: 'form-control datepickerTodo', rows: 4%>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Update task", class: "btn btn-primary", id: 'createTodoM' %>
    </div>
<% end %>
<script>
    $( function() {
        $( ".datepickerTodo" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy',
            minDate: 'dateToday'
        });
    } );

    $( function() {
      $('.formTodo').parsley();
    } );
</script>