<%= form_for(@task, remote: true, :html => {class: 'formTodo form-horizontal', 'data-parsley-validate' => true}) do |f| %>
    <div class="modal-body">
      <div class="form-group">
        <%= f.label :title, 'Title', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: 'form-control', 'data-parsley-required' => true, 'data-parsley-error-message' => 'Это поле не может быть пустым' %>
        </div>
      </div>
      <div class="form-group" data-provide="datepicker">
        <%= f.label :to_perform, 'Deadline:', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :to_perform, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      <%= f.submit "Сохранить список", class: "btn btn-primary", id: 'createTodoM', "onclick" => "save()" %>
    </div>
<% end %>
