
<!-- BEGIN Modal new TODO list -->
<div class="modal fade" id="modalCreateTodo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create TODO List</h4>
      </div>
      <div class="todoErrorCreate"></div>
      <%= render 'todolists/form' %>
    </div>
  </div>
</div>
<!-- END Modal new TODO list -->

<div class="renderModal"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div><span class="label label-success"><%= current_user.email %></span> - <%= link_to "Выход", destroy_user_session_path, method: :delete %></div>

      <% if flash[:alert] %>
          <div class="alert alert-error" style="text-align:center;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
          <div class="alert alert-success" style="text-align:center;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% end %>
      <div class="titlePage">simple todo list</div>
      <div class="garageLogo">from ruby garage</div>
      <button type="button" class="btn btn-primary newListButton" data-toggle="modal" data-target="#modalCreateTodo"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add TODO List</button>
    </div>
    <div class="row">
      <div class="mainContent col-xs-8 col-xs-offset-2">
        <% current_user.todolists.each do |todo| %>
            <div class="todoListResult" id="todoId_<%= todo.id %>">
              <div class="titleTodo">
                <i class="fa fa-calendar fa-2x customeCalendar" aria-hidden="true"></i>
                <span><%= todo.name  %></span>
                <div class="righBar">
                  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_todolist_path(todo), remote: true %>
                  <span>|</span>
                  <%= link_to '<i class="fa fa-trash"></i>'.html_safe, todo, data: { confirm: 'Вы уверены что хотите удалить эту запись?' }, remote: true, method: :delete %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>





