<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form'}) do |f| %>

    <div class="login-wrap">
      <p class="login-img" style="color: #428BCA;"><i class="icon_lock_alt"></i></p>
      <span>Почта:</span>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_mail"></i></span>
        <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: 'Почта' %>
      </div>
      <span>Пароль:</span>
      <div class="input-group">
        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Пароль' %>
      </div>
      <label class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label 'Запомнить', for: :user_remember_me %>
      </label>
      <%= f.submit "Войти", class: 'btn btn-primary btn-lg btn-block' %>
      <%= link_to "Войти через Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-block', style: 'color: white !important;' %>
          <%= link_to new_user_registration_path, class: 'btn btn-info btn-lg btn-block rootReg' do %>
              <span>Регистрация</span>
      <% end %>
    </div>

<% end %>
